// out:false
.blogWrapper 				{ background-size:cover; background-repeat:no-repeat; width:auto;
	&.inverted 				{ background-color: var(--black); color:var(--white); }
	@media (min-width: @screen-md-min) 	{ padding: 2vw 0; }
}
.blogHeadline 		{ margin-bottom:10px;
	@media (max-width: @screen-sm-max)	{ padding:0 30px; margin-bottom:0px; }
}
.blogText 			{ margin-bottom:30px;
	@media (max-width: @screen-sm-max)	{ padding:0 30px; margin-bottom:0px; }
}
.blogPostsWrapper 			{
	>* 						{ margin-bottom:30px; }
	@media (max-width: @screen-sm-max)	{ padding:30px;
		>* 					{ margin-bottom:30px;
			&:last-child 	{ margin-bottom:0; }
		}
	}
}

.blogListing,
.blogListingSmall			{ .transition-smooth; .flex-display(flex); .flex-direction(column); .border-radius(8px); background-color:var(--white); .box-shadow; overflow:hidden !important;

	.mediabox 				{ line-height: 0; position: relative; overflow: hidden;
		.imgOverlay 		{ position: absolute; z-index:1; right:-1px; left:-1px; bottom:-1px; width:auto;
			.overlayHorizontal 	{ width:100%; }
			.overlayVertical 	{ width:100%; height:100%; display:none; }
		}
		figure 				{ height:100%; }
		img 				{ object-fit: cover; width:100%; height:100%; }

	}
	.textboxInner			{ .flex-size(1); .flex-display(flex); .flex-direction(column); height:100%; }
	.blogTitles 			{ .flex-display(flex); .flex-direction(column); padding:0px 30px 0px 30px; }
	.blogContent 			{ padding:0 30px; }
	.date 					{ color:var(--grey); font-size:clamp(8px,1vw,12px); margin:10px 0;
		span 				{ margin-right:5px; color:var(--primary-color); }
	}
	.content 				{ padding:0; .flex-display(flex); .flex-direction(column); gap:15px;
		ul  				{ margin:0; padding:0;
			>li 			{ list-style: none; position: relative; padding: 3px 0 2px 20px; line-height: 1.6;
				&:before 	{ content: '•'; position: absolute; top:0px; left: 0; font-size:20px; color:var(--primary-color); }
				p 			{ margin:0 0 5px 0; }
			}
		}
	}
	.links 					{ margin-top:auto; padding:15px 30px 30px 30px; .justify-content(flex-end); }

	&.noImage 				{
		.blogTitles 		{ padding:30px 30px 0px 30px; }
	}

	@media (min-width: @screen-md-min) 	{
		.blogTitles 		{ padding:15px 30px 0px 15px; }
		.blogContent 		{ padding:0 30px 0 15px; }
		.links 				{ padding:15px 30px 30px 15px; }
		&.noImage 			{
			.blogTitles 	{ padding:15px 30px 0px 30px; }
			.blogContent 	{ padding:0 30px 0 30px; }
			.links 			{ padding:15px 30px 30px 30px; }
		}
		.textboxMediabox 	{ .flex-display(flex);
			.mediabox 		{ .flex-size(3);
				.imgOverlay { top:0; bottom:-1px; left:auto; width:auto;
					.overlayHorizontal 	{ display:none; }
					.overlayVertical 	{ display:block; }
				}
			}
			.textbox 		{ .flex-size(5); }
		}
	}
}

.blogListingSmall			{
	.mediabox figure 		{ aspect-ratio: 4/3; }
	@media (min-width: @screen-md-min) 	{
		.textboxInner			{ position: relative; }
		.blogTitles 			{ padding:15px 30px 15px 15px; margin-bottom: 0px !important; .flex-display(flex); .flex-direction(column);
			>* 					{ hyphens:none; }
			.blogCategories 	{ margin:0 0 10px 0; }
			.headline 			{ font-size:clamp(16px,1.8vw,20px); }
			.subtitle 			{ font-size:clamp(14px,1.8vw,18px); }
		}
		.links 					{ position: absolute; bottom:20px; right:20px; padding:0;
			.btn 				{ padding:10px 20px; }
			.btnIcon 			{ max-width:15px; }
		}
	}
}

.pagniationWrapper 			{ .flex-display(flex); .align-items(center); .justify-content(center); gap:30px; margin:60px 0; font-size:small; }

.blogCategories 			{ .flex-display(flex); .flex-wrap(wrap); gap:5px; margin:10px 0; }
.btn-blogcategory 			{ .flex-display(flex); .align-items(center); .justify-content(center); gap:15px; padding:5px 15px; background-color:var(--greylight); font-size:clamp(0.6rem, 1vw, 0.8rem); .border-radius(99px);
	.badge 					{ .flex-display(inline-flex); .align-items(center); .justify-content(center); height:15px; min-width:15px; .border-radius(50%); background-color:var(--primary-color); color:var(--white); font-size:0.6rem; }
}

.blogDetail 				{ margin:70px 0 20px 0; padding:30px;
	.breadcrumb 			{ padding:0; }
	.categoryHeadline 		{ margin-bottom:15px; color:var(--grey); }

	.contentTop 			{
		h1 					{ font-size:clamp(28px,3.5vw,40px); }
		.mediabox 			{ width:100%; height:auto; margin-bottom:30px; }
	}
	.downloadsWrapper 		{ margin-bottom:60px; }

	.blogDetailTitles		{ margin-bottom:30px;
		.date 				{ color:var(--grey); margin:10px 0;
			span 			{ margin-right:5px; color:var(--primary-color); }
		}
		.title 				{ font-size: clamp(1.75rem, 2.5vw, 2.75rem); color:var(--primary-color); }
		.subtitle 			{ font-size: clamp(1.25rem,1.6vw,1.6rem); }
		@media (min-width: @screen-md-min) 	{
			.date 			{ font-size:clamp(8px,1vw,12px); }
		}
	}

	.textblockWrapper 		{
		p 					{ margin-bottom:15px; }
	}

	.blogExternalVideoWrapper { width:100%; margin-bottom:30px;
		iframe 					{ width:100%; height:auto; aspect-ratio: 16/9; }
	}
	.blogVideoWrapper 		{ margin-bottom:30px;
		video 				{ width:100%; height:auto; }
	}

	.previousBlogPosts 		{ margin:0 0 60px 0; }

	.footerLinks 			{ margin:20px 0; }

	@media (min-width: @screen-md-min) 	{ margin:9vw 0 70px 0; padding:0px;
		.inner 				{
			.contentBottom 	{ .flex-display(flex); margin-top:30px;
				.footerLinks { .flex-size(1); }
				.footerRight { .flex-size(2); }
			}
			.footerLinks 			{ margin:60px 0; }
			.contentTop 	{ width:100%;
				.textboxMediabox { .flex-display(flex);
					.mediabox 		{ .flex-size(1); order:1;
						>* 			{ .border-radius(8px); .box-shadow; }
					}
					.textbox 		{ .flex-size(1);
						>* 			{ padding-right:60px; }
					}
				}
			}
		}
	}
}
