// out: false

.headerSpacer 	{ height:60px;
	@media (min-width: @screen-md-min)	{ height:5.15vw; }
}

.logoMain 			{ .flex-display(inline-flex); width:100%; height:auto; min-width:100px;
	@media (min-width: @screen-md-min)	{ position: relative; top:0.5vw; width:20vw; }
}
.logoIcon 		{ position:absolute; top:15px; left:15px; z-index:99; display: inline-block; height:auto; width:140px;
	@media (min-width: @screen-md-min)	{ display:none; }
}
.mainnav 				{ .transition-smooth; position: fixed; .flex-display(flex); .flex-direction(column); .flex-wrap(wrap); .align-items(center); padding:0; width:100%; top:-100%; z-index: 990; color:var(--font-color);

	.mainnavBg 			{ display:none;
		@media (min-width: @screen-md-min)	{ display: block; width:100%; }
	}

	.navWrapper 			{ display:none;
		@media (min-width: @screen-md-min)	{ .flex-display(flex); .justify-content(center); position: absolute; top:0; left:0; right:0; bottom:0;
			.nav 			{ .flex-size(1); margin-top:2.4vw; .align-items(flex-start); }
			.mainnavLeft 	{ .justify-content(flex-end); margin-right:3vw;
				.menuItem .mainnavSubmenu { left:-30px; }
			}
			.mainnavRight 	{ margin-left:3vw;
				.menuItem .mainnavSubmenu { right:-30px; text-align: right; }
			}
		}
	}

	.nav 				{ .flex-display(flex); .flex-direction(column); .flex-wrap(wrap); }

	.menuItem 					{ position: relative;
		.mainnavSubmenu 		{ position: absolute; top:20px; .opacity(0); height:0;  overflow:hidden !important; .transition-all;
			.inner 				{ .flex-display(flex); .flex-direction(column); gap:24px; .border-radius(8px); background-color: var(--white); padding:60px 30px 30px 30px; .box-shadow; height:auto; width: max-content; }
		}
		.submenuTitle 			{ font-weight:bold; margin-bottom:15px; }
		.subsubmenu i			{ margin-right:5px; }

		.subsubmenuWrapper 		{ .flex-display(flex); .flex-direction(column); gap:15px; }
		&:hover 				{
			.mainnavSubmenu 	{ height:auto; .opacity(1); overflow:unset !important; }
		}
	}
	.languageSelect.dropdown 	{ position: fixed !important; right: 2vw; top: 1vw; }
	.languageSelect 	{ position: fixed !important; right: 2vw; top: 1vw;
		>.lang { .flex-display(flex); gap:15px; color:var(--grey);
			>.active { color:var(--primary-color); font-weight:bold; }
		}
	}

	@media (max-width: @screen-sm-max)	{ height:100%; background-color: var(--white);
		.mainmenu 						{ font-size: clamp(20px, 2.5vw, 36px); text-align: center;
			&:first-child 				{ margin-top:60px; }
		}
		.nav 							{ gap:30px; }
		.languageSelect.dropdown 		{ display:none; }
	}
	@media (min-width: @screen-md-min)	{ .flex-direction(row); top:0; left:0; right:0; height:auto;
		.nav 				{ .flex-direction(row); gap:1vw; margin:0px auto; }
	}
	@media (min-width: @screen-lg-min)	{
		.nav 				{ gap:2vw; }
	}
}

.mainmenu 			{ position:relative; font-size:clamp(12px, 1vw, 16px); font-weight: 500;
	&:before,
	&:after 		{ content:''; position: absolute; z-index:9; bottom:0px; left:50%; width:8px; height:2px; background-color:transparent; .transition-all; }
	&:before 		{ transform:translateX(-80%) rotate(45deg); }
	&:after 		{ transform:translateX(-25%) rotate(-45deg); }
	&:hover 		{ color:var(--grey);
		//&:before,
		//&:after 	{ background-color: var(--grey); bottom:-12px; }
	}
	&.active 		{ color:var(--grey); }
	@media (min-width: @screen-xxl-min)	{ font-size:clamp(16px, 2vw, 18px); }
}

.burgerBtn 		{ position:fixed; top:15px; right:15px; z-index:999; .transition-smooth; font-size:24px; color:var(--primary-color);
	&:before 	{ content:''; background-color:var(--white); position: absolute; z-index:-1; top:-7.5px; left:-7.5px; right:-7.5px; bottom:-7.5px; .border-radius(4px); }
	@media (min-width: @screen-md-min)	{ top:-120px; }
}



// Mobile menue
.mobileMenuOpen 	{
  @media (max-width: @screen-sm-max)	{
    .mainnav 		{ top:0;  }
  }
}

.mobilNav 				{ .flex-display(flex); .flex-direction(column); .flex-wrap(wrap); gap:15px; margin-top:60px; width:80vw;
	.logoMain 			{ margin:0px auto; }
	.mainnavMobil 		{ .flex-display(flex); .flex-direction(column); .flex-wrap(wrap); gap:24px; margin-top:30px;
		.mobilMainmenu 	{ font-size:18px; font-weight: 500; }
	}
	.mobilSubmenu 		{ .flex-display(flex); .flex-direction(column); .flex-wrap(wrap); height:0; .opacity(0); overflow:hidden !important; .transition-all;
		.submenu 		{ padding:15px 0 0 0;
			&:last-child { padding:15px 0; }
		}
		&.isOpen 		{ height:auto; .opacity(1); }
	}
	.languageSelect 	{ margin-top:30px;
		>* 				{ .flex-display(flex); gap:15px; }
	}
	@media (min-width: @screen-md-min)	{ display:none; }
}
