// out:false

.hero 						{ position: relative; }


// Bild oder Video im Hintergrund, Text darüber
.hero0 						{ padding:0; background-size:cover; background-repeat:no-repeat; background-position: bottom; overflow:hidden !important;
	&.hasbgVideo 			{
		.textMediabox 		{ position: absolute; z-index:1; left:0; top:0; right:0; bottom:0; width:100%; }
	}
	&.hasbgImage 			{
		.textMediabox 		{ position: relative; z-index:1; padding:70px 0 60px 0;
			@media (min-width: @screen-md-min) 	{ padding:12vw 0 6vw 0; }
		}
	}
	.textMediabox 			{ .flex-display(flex); .align-items(center); .justify-content(center); .flex-direction(column); }
	.textbox 				{ text-align: center; padding:0 30px;
		.inner 				{ padding:0px; word-break: break-word; hyphens:auto; }
	}
	.top_logo 				{ max-width: 60vw; margin:0 auto 30px auto; }
	@media (min-width: @screen-md-min) 	{
		.bgVideoWrapper 	{ aspect-ratio: 16/7; }
		.textMediabox 		{ padding:0 0 60px 0; }
		.top_logo 			{ max-width: 40vw; }
	}
}


.heroslider 				{ position: relative; padding:0; background-size:cover; background-repeat:no-repeat; background-position: bottom;
	@media (min-width: @screen-md-min) 	{
		.textbox 			{ position: absolute; opacity: 0; top:60%; .transition-smooth;;
			&.fade-in 		{ opacity: 1; top:50%; }
		}
	}
}
