// out:false

// Products overview

.productWrapper 				{ padding: 30px; background-size:cover; background-repeat:no-repeat; width:auto;
	&.inverted 					{ background-color: var(--black); color:var(--white); }
	@media (min-width: @screen-md-min) 	{ padding: 2vw 0; }
	.breadcrumb 				{ padding:0; }
	.categoriesWrapper 			{ padding:0;
		.categoryWrapper 		{ margin-bottom:30px; }
		@media (min-width: @screen-lg-min) 	{
			>.inner 			{ margin-bottom:90px; }
		}
	}
}

.categoriesWrapper 				{ margin-top:30px; padding:0 30px;
	.categoryTitle 				{ margin-bottom:15px; }
	>.inner 					{ margin-bottom:30px; scroll-margin-top:60px;
		@media (min-width: @screen-md-min)	{ scroll-margin-top:250px; }
	}
	.productsWrapper 			{ display: grid; grid-template-columns: repeat(2, 1fr); gap:15px; }
	@media (min-width: @screen-sm-min) 	{
		.productsWrapper 		{ grid-template-columns: repeat(3, 1fr); }
	}
	@media (min-width: @screen-md-min) 	{ margin-top:60px; padding:0;
		.categoryTitle 			{ margin-bottom:30px; }
		.categoryWrapper 		{ .flex-size(2); margin-bottom:0; }
		.productsWrapper 		{ .flex-size(5); gap:30px; grid-template-columns: repeat(3, 1fr); }
	}
	@media (min-width: @screen-lg-min) 	{
		>.inner 				{ .flex-display(flex); gap:60px; }
		.categoryWrapper 		{ .flex-size(2); }
		.productsWrapper 		{ .flex-size(5); }
	}
	@media (min-width: @screen-xl-min) 	{
		.categoryWrapper 		{ .flex-size(2); }
		.productsWrapper 		{ .flex-size(6); }
	}
}

.contentBottom 					{
	.categoriesWrapper 			{
		.categoryWrapper 		{ .flex-display(flex); .flex-direction(column); .align-items(flex-start); }
	}
}

.productCard 					{ line-height: 0;
	>.inner 					{ background-color:var(--primary-color); color:var(--white); position: relative; aspect-ratio: 4/3; cursor: pointer;
		>.content 				{ .flex-display(flex); .flex-direction(column); .align-items(center); .justify-content(center); height:85%; text-align: center;
			.product_icon 		{ width:20%; margin-bottom:10px; }
			.title 				{ font-size:clamp(14px,2vw,20px); }
		}
		.imgOverlay 			{ position: absolute; left:0; right:0; bottom:0; color:var(--black); overflow:hidden !important;
			>svg 				{ width:101%; height: 101%; margin-bottom:-1px; }
			.btn 				{ position: absolute; bottom:0; right:3%;
				@media (max-width: @screen-sm-max) 	{
					.btnIcon 	{ max-width: 16px; }
				}
			}
		}
		&:hover 				{ background-color: var(--black);
			.btn 				{ color:var(--grey); }
		}
	}
}

.productDetail 				{ margin:70px 0;
	.categoryHeadline 		{ margin-bottom:15px; color:var(--grey); }

	.mediabox 				{ width:100%; height:auto; margin-bottom:30px; }
	.textbox 				{ padding:0 30px; }
	.downloadsWrapper 		{ margin-bottom:60px; }

	.productDetailTitles	{ margin-bottom:30px;
		.title 				{ font-size: clamp(1.75rem, 2.5vw, 2.75rem); color:var(--primary-color); }
		.subtitle 			{ font-size: clamp(1.25rem,1.6vw,1.6rem); }
	}

	.textblockWrapper 		{
		p 					{ margin-bottom:15px; }
	}

	.productExternalVideoWrapper { width:100%; margin-bottom:30px;
		iframe 					{ width:100%; height:auto; aspect-ratio: 16/9; }
	}
	.productVideoWrapper 		{ margin-bottom:30px;
		video 				{ width:100%; height:auto; }
	}

	.previousproductPosts 		{ margin:0 0 60px 0; }

	.footerLinks 			{ margin:60px 0 0 0; }

	@media (min-width: @screen-md-min) 	{ margin:9vw 0 70px 0;
		.inner 				{
			.contentTop 			{ width:100%;
				.textboxMediabox 	{ .flex-display(flex);
					.mediabox 		{ .flex-size(3); order:1; }
					.textbox 		{ .flex-size(4); padding:0px;
						>* 			{ padding-right:60px; }
					}
				}
			}
		}
	}
}


.singleProduct 				{ padding:30px;
	.mediabox 				{ margin-bottom:30px;
		figure 				{ aspect-ratio: 4/3; background-color:var(--black);
			img				{ width:100%; height:100%; object-fit: contain; }
		}
	}
	.approved 				{ width:20vw; max-width:80px; margin-bottom:30px; }

	@media (min-width: @screen-md-min)	{ padding:60px 0;
		.inner 					{ .flex-display(flex); gap:60px; position: relative; }
		.mediabox 				{ width:10vw; margin-bottom:0px;
			figure 				{ aspect-ratio:unset; }
		}
		.textblock 				{ .flex-size(3); }
		.specificationContent 	{ .flex-size(2); }

	}
}
