// out:false
.productWrapper 				{ padding: 30px; background-size:cover; background-repeat:no-repeat; width:auto;
	&.inverted 				{ background-color: var(--black); color:var(--white); }
	@media (min-width: @screen-md-min) 	{ padding: 6vw 0; }
}
