{{ if ( current_uri | substr(0,3) ) == '/en' }}
	{{ btnTextAllNews = 'All news' }}
	{{ allNewsUrl = '/en/news' }}
{{ else }}
	{{ btnTextAllNews = 'Alle Neuigkeiten' }}
	{{ allNewsUrl = '/aktuelles' }}
{{ /if }}
<section id="blogSlider_{{ slug }}" class="blogSliderWrapper">
	<div class="swiper blogSlider">
		<div class="blogSliderHeaderWrapper">
			{{ if headline }}<h2 class="headline">{{ headline }}</h2>{{ /if }}
			<a href="{{ allNewsUrl }}" class="btn btn-primary">{{ btnTextAllNews }}</a>
		</div>
		<div class="swiper-wrapper">
			{{ collection:blog limit="9" as="posts" }}
				{{ posts }}
					{{ partial:elements/blog_card_slider }}
				{{ /posts }}
			{{ /collection:blog }}
		</div>
		<div class="overlayLeft"></div>
		<div class="overlayRight"></div>
		<div class="buttonWrapper">
			<div class="buttonPrev"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg></div>
			<div class="buttonNext"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg></div>
		</div>
	</div>
</section>
