<section class="blogWrapper{{ inverted ? ' inverted' : '' }}" style="background-image:url({{ background_image }});">
	<div class="container">
		<nav class="breadcrumb">
			<a href="/"><i class="icofont-home"></i></a><i class="icofont-rounded-right"></i>
			{{ if category }}
				<a href="{{ category:url }}">{{ category:title }}</a><i class="icofont-rounded-right"></i>
			{{ /if }}
			<div class="itemActive">{{ title }}</div>
		</nav>
		{{ if headline | trim != "" && headline | strip_tags != "" }}<div class="blogHeadline">{{ headline }}</div>{{ /if }}
		{{ if content | trim != "" && content | strip_tags != "" }}<div class="blogText">{{ content }}</div>{{ /if }}
		{{ partial:elements/blog_listing }}
	</div>
</section>
