{{ if ( current_uri | substr(0,3) ) == '/en' }}
	{{ home = 'en' }}
{{ /if }}
<a href="{{ home }}" class="logoIcon">
	<img src="{{ sitebasics.logo.url }}" alt="{{ sitebasics.logo.alt }}" />
</a>
<div class="burgerBtn">
	<span class="burgerOpen"><i class="icofont-navigation-menu"></i></span>
	<span class="burgerClose"><i class="icofont-close"></i></span>
</div>
<div class="mainnav">
	<div class="mainnavBg">
		<svg xmlns="http://www.w3.org/2000/svg" width="1920.044" height="97.178" viewBox="0 0 1920.044 97.178">
			<g transform="translate(-2088 3150)">
				<path d="M952.991,96.668h-439.3l-12.51-12.137L203.986,86.156,167.509,55H0V0H1920V55H1752.481L1716,86.156l-297.193-1.625L1406.3,96.668Z" transform="translate(2088 -3150)" fill="#fff"/>
				<path d="M16,17l296.84-1,12.037,12.037H780.942" transform="translate(2275.914 -3081.359)" fill="none" stroke="#01215c" stroke-width="1"/>
				<path d="M780.942,17,484.1,16,472.065,28.037H16" transform="translate(3023.135 -3081.359)" fill="none" stroke="#01215c" stroke-width="1"/>
				<path d="M428.186,0H257.812L229.774,28.037H123.881v7.151H233.146L261.183,7.152h167Z" transform="translate(3579.858 -3096)" fill="#01215c"/>
				<path d="M123.881,0H294.256l28.037,28.037H428.186v7.151H318.921L290.884,7.152h-167Z" transform="translate(1964.119 -3096)" fill="#01215c"/>
			</g>
		</svg>
	</div>
	<div class="navWrapper">
		<div class="mainnavLeft nav">
			{{ nav:mainnav_left }}
				{{ partial:elements/mainmenu }}
			{{ /nav:mainnav_left }}
		</div>
		<a href="{{ home }}" class="logoMain">
			<img src="{{ sitebasics.logo.url }}" alt="{{ sitebasics.logo.alt }}" class="logoPositiv" />
		</a>
		<div class="mainnavRight nav">
			{{ nav:mainnav_right }}
				{{ partial:elements/mainmenu }}
			{{ /nav:mainnav_right }}
		</div>
	</div>
	{{ partial:elements/mobilmenu }}
	{{ partial:elements/languagedropdown }}
</div>
{{ if header_spacer }}
<div class="headerSpacer"></div>
{{ /if }}
