<section {{ if hashtag_name }}id="{{ hashtag_name }}"{{ /if }} {{ if background_image }} x-data="parallax"{{ /if }} class="hero hero0 {{ paragraph_class }}{{ if background_video }} hasbgVideo{{ /if }}{{ if background_image }} hasbgImage parallax-container{{ /if }}">
	{{ if background_video }}
		{{ partial:elements/videoplayerbackground }}
	{{ /if }}
	{{ if background_image }}
		<div class="parallax-background"
			:style="'transform: translateY(' + offset + 'px); background-image: url({{ background_image }});'">
		</div>
	{{ /if }}
	<div class="textMediabox">
		{{ if video_intern }}
			<div class="mediabox">{{ partial:elements/videoplayerintern }}</div>
		{{ elseif video_extern }}
			<div class="mediabox">{{ partial:elements/videoplayer }}</div>
		{{ elseif image }}
			<div class="mediabox">{{ partial:elements/image }}</div>
		{{ /if }}

		<div class="textbox {{ textboxausrichtung }} {{ texbox_class }}">
			<div class="inner">
				{{ partial:elements/textblock }}
			</div>
		</div>
	</div>
</section>
