{{ if ( current_uri | substr(0,3) ) == '/en' }}
	{{ referencesLogosHeadline = 'We work, among other things, for' }}
{{ else }}
	{{ referencesLogosHeadline = 'Wir arbeiten unter anderem für' }}
{{ /if }}
<div class="referencesLogosWrapper">
	<div class="headline">
		{{ referencesLogosHeadline }}
	</div>
	<div class="swiper logoslideshow">
		<div class="swiper-wrapper">
			{{ collection:referenzen }}
			<div class="swiper-slide slideLogo">
				<a href="{{ link }}" target="_blank"><img src="{{ logo }}" alt="{{ alt }}"></a>
			</div>
			{{ /collection:referenzen }}
		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>
