{{ if ( current_uri | substr(0,3) ) == '/en' }}
	{{ labelPhone = 'Phone:' }}
	{{ labelEmail = 'E-Mail:' }}
{{ else }}
	{{ labelPhone = 'Tel.:' }}
	{{ labelEmail = 'E-Mail:' }}
{{ /if }}
<section class="teamWrapper{{ inverted ? ' inverted' : '' }}" style="background-image:url({{ mainbgimage }});">
	<div {{ if hashtag_name }}id="{{ hashtag_name }}"{{ /if }} class="container">
		{{ partial:elements/textblock }}
		<article class="teamContent">
				{{ team }}
				<div class="teamEntry">
					{{ image }}
					<figure class="teamImage"><img src="{{ image }}" alt="{{ alt }}"></figure>
					{{ /image }}
					<h3 class="teamName">{{ title }}</h3>
					<p class="teamPosition">{{ position }}</p>
					<address>
						{{ if phone }}
						<div class="addressEntry contactPhone">
							<span class="labelText">{{ labelPhone }}</span>
							<span class="label">{{ phone }}</span>
						</div>
						{{ /if }}
						{{ if email }}
						<div class="addressEntry contactEmail">
							<span class="labelText">{{ labelEmail }}</span>
							<span class="label">{{ email }}</span>
						</div>
						{{ /if }}
					</address>
				</div>
				{{ /team }}
		</article>
	</div>
</section>
