<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="{{ sitebasics.favicon.url }}" type="image/x-icon" />
		<link rel="shortcut icon" href="{{ sitebasics.favicon.url }}" type="image/x-icon" />
		<link rel="apple-touch-icon" sizes="180x180" href="{{ sitebasics.apple_touch_icon.url }}">
		<title>{{ seo_title ?? title ?? site:name }}</title>
		<meta name="description" content="{{ seo_description }}">
		<meta name="keywords" content="{{ seo_keywords }}">
		<meta property="og:title" content="{{ seo_title ?? title ?? site:name }}" />
		<meta property="og:description" content="{{ seo_description }}" />
		<meta property="og:url" content="{{ site:permalink }}">
		<meta property="og:site_name" content="{{ site:name }}" />
   		<meta property="og:type" content="website">
		<meta property="og:locale" content="{{ site:locale }}" />
		<meta name="author" content="{{ author.name }}">
		<meta name="robots" content="{{ robots.key }}">
		<base href="/" />
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
    </head>
    <body class="body">
        {{ partial:components/header }}
        <div class="contents">{{ template_content }}</div>
        {{ partial:components/footer }}
        {{ nocache }}
            {{ oreos:popup }}
        {{ /nocache }}
		<div class="scroll-down">
			<div class="mouse">
				<div class="scroller"></div>
			</div>
		</div>
		<a id="backToTopButton" class="backToTopButton"><i class="icofont-rounded-up"></i></a>
		<!-- Modal -->
		<div id="myModal" class="modal">
			<span class="close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg></span>
			<div class="modalContentWrapper">
				<img class="modal-content" id="modalImage" alt="{{ alt }}">
				<div id="modalCaption" class="modalCaption"></div>
			</div>
			<a class="prev" id="prevBtn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg></a>
			<a class="next" id="nextBtn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg></a>
		</div>
    </body>
</html>
