<div class="categoriesWrapper">
    {{ taxonomy:product_categories sort="order:asc" }}
        <div id="product_{{ slug }}" class="inner">
            <div class="categoryWrapper">
                <h2 class="categoryTitle">{{ title }}</h2>
                <div class="categoryContent">{{ content }}</div>
            </div>
            <div class="productsWrapper {{ title }}">
                {{ if entries }}
                    {{ entries }}
                        {{ partial:elements/product_card }}
                    {{ /entries }}
                {{ /if }}
            </div>
        </div>
    {{ /taxonomy:product_categories }}
</div>

