{{ if ( current_uri | substr(0,3) ) == '/en' }}
	{{ productMainSiteUrl = '/en/products' }}
	{{ productMainSiteName = 'Products' }}
	{{ productDetailBtnText = 'back' }}
	{{ productDetailNoResultsText = 'No further entries available.' }}
	{{ productDetailNextArticle = 'Next product' }}
	{{ productDetailNoMoreContent = 'No more entries' }}
{{ else }}
	{{ productMainSiteUrl = '/produkte' }}
	{{ productMainSiteName = 'Produkte' }}
	{{ productDetailBtnText = 'zurück' }}
	{{ productDetailNoResultsText = 'Keine weiteren Einträge vorhanden' }}
	{{ productDetailNextArticle = 'Weitere Produkte' }}
	{{ productDetailNoMoreContent = 'Keine weiteren Produkte' }}
{{ /if }}
<div class="productDetail">
	<div class="container">
		<div class="inner">
			<nav class="breadcrumb">
				<a href="/"><i class="icofont-home"></i></a><i class="icofont-rounded-right"></i>
				<a href="{{ productMainSiteUrl }}">{{ productMainSiteName }}</a><i class="icofont-rounded-right"></i>
				{{ if category }}
					<a href="{{ category:url }}">{{ category:title }}</a><i class="icofont-rounded-right"></i>
				{{ /if }}
				<div class="itemActive">{{ title }}</div>
			</nav>
			<div class="contentTop">
				<div class="inner">
					{{ if productcategories }}
						<div class="productCategories">
							{{ productcategories }}
								<a href="{{ url }}" class="btn-productcategory">
									{{ title }}
								</a>
							{{ /productcategories }}
						</div>
					{{ /if }}
					<div class="textboxMediabox">
						{{ image }}
						<div class="mediabox">
							{{ partial:elements/image }}
						</div>
						{{ /image }}

						<div class="textbox">
							<div class="textboxInner">

								<div class="productDetailTitles">
									{{ if headline_above | trim != "" && headline_above | strip_tags != "" }}<h4 class="headline_above">{{ headline_above }}</h4>{{ /if }}
									{{ if headline | trim != "" && headline | strip_tags != "" }}<h1 class="headline">{{ headline }}</h1>{{ /if }}
									{{ if subtitle | trim != "" && subtitle | strip_tags != "" }}<h2 class="subtitle">{{ subtitle }}</h2>{{ /if }}
								</div>
								{{ if content | trim != "" && content | strip_tags != "" }}<div class="content">{{ content }}</div>{{ /if }}
								{{ if links }}
								<div class="links">
									{{ links }}
										{{ partial:elements/button
											:url='button_link_feld'
											:style='button_style'
											:target='button_zielseite'
											:icon='button_icon'
											:text='button_text'
										}}
									{{ /links }}
								</div>
							{{ /if }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{ weitere_inhalte scope="block" }}
	{{ partial src="components/{type}" }}
{{ /weitere_inhalte }}
<section class="contentBottom">
	<div class="container">
		<div class="categoriesWrapper">
			<div class="inner">
				<div class="categoryWrapper">
					<h2 class="categoryTitle">{{ productDetailNextArticle }}</h2>
				</div>
				<div class="productsWrapper">
					{{ collection:next in="products" as="posts" limit="3" sort="order" }}
						{{ posts }}
							<div class="post">
							{{ partial:elements/product_card }}
							</div>
						{{ /posts }}
						{{ if posts|count < 3 }}
							{{ collection:products limit="3" sort="order" }}
								<div class="post">
									{{ partial:elements/product_card }}
								</div>
							{{ /collection:products }}
						{{ /if }}
					{{ /collection:next }}
				</div>
			</div>
			<a onclick="history.back()" class="btn-back btn btn-default has-icon has-text">
				<span class="btnIcon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg></span>
				<span class="btnText"><span>{{ productDetailBtnText }}</span></span>
			</a>
		</div>
	</div>
</section>
