<div class="textblockWrapper {{ if textblock_class }} {{ textblock_class }}{{ /if }}">
{{ if top_icon }}<div class="top_icon" style="color:{{ topicon_farbe }};">{{ top_icon }}</div>{{ /if }}
{{ if top_logo }}{{ top_logo }}<div class="top_logo"><img src="{{ glide:url width="100" }}" alt="{{ alt }}"></div>{{ /top_logo }}{{ /if }}
{{ if headline | trim != "" && headline | strip_tags != "" }}<{{ headline_type }} class="headline">{{ headline }}</{{ headline_type }}>{{ /if }}
{{ if subtitle | trim != "" && subtitle | strip_tags != "" }}<{{ subtitle_type }} class="subtitle">{{ subtitle }}</{{ subtitle_type }}>{{ /if }}
{{ if content | trim != "" && content | strip_tags != "" }}<div class="content">{{ content }}</div>{{ /if }}
{{ if links }}
	<div class="links">
		{{ links }}
			{{ partial:elements/button
				:url='button_link_feld'
				:style='button_style'
				:target='button_zielseite'
				:icon='button_icon'
				:text='button_text'
			}}
		{{ /links }}
	</div>
{{ /if }}
</div>
