// out:false

.top_icon 			{ width:100%; min-width:40px; max-width:2vw; margin-bottom:10px; }
.top_logo 			{ width:100%; min-width:100px; max-width:10vw; margin-bottom:10px; }
.headline_above,
.headline,
.subtitle 			{ word-break: break-word; white-space: normal; hyphens: auto; }
.content 			{ line-height: 1.4;
	ul  			{ margin:0; padding:0;
		>li 		{ list-style: none; position: relative; padding: 3px 0 2px 20px; line-height: 1.6;
			&:before { content: '•'; position: absolute; top:0px; left: 0; font-size:20px; color:var(--primary-color); }
			p 		{ margin:0 0 5px 0; }
		}
	}
}
.links 				{ .flex-display(flex); .flex-wrap(wrap); gap:15px; }

.headlinesMaxWidth { container-type: inline-size;
  @container (min-width: @screen-lg-min) {
    .headline {  max-width: 40vw; }
    .subtitle {  max-width: 40vw; }
  }
}

.textblockWrapper 		{ .flex-display(flex); .flex-direction(column); margin-bottom:30px; gap:10px;
	@container (min-width: @screen-lg-min) { margin-bottom:60px; gap:15px; }
}

.textBlock  				{ padding:30px 0; }
.auto_text_width 			{ width:fit-content; }
@media (min-width: @screen-lg-min) 	{
	.textBlock 				{ --column-gap:60px;
	.textspalten >p			{ break-inside: avoid; }
	.textspalten_1 			{ column-count:1; column-gap:var(--column-gap); }
	.textspalten_2 			{ column-count:2; column-gap:var(--column-gap); }
	.textspalten_3 			{ column-count:3; column-gap:var(--column-gap); }
	.textspalten_4 			{ column-count:4; column-gap:var(--column-gap); }
	.textspalten_5 			{ column-count:5; column-gap:var(--column-gap); }
	.textspalten_6 			{ column-count:6; column-gap:var(--column-gap); }
	.textspalten_7 			{ column-count:7; column-gap:var(--column-gap); }
	.textspalten_8 			{ column-count:8; column-gap:var(--column-gap); }
	.textspalten_9 			{ column-count:9; column-gap:var(--column-gap); }
}
}
